.About {
  width: 100vw;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  .about-text {
    width: 50%;
    height: fit-content;
    padding: 5rem;
    background-color: #ff5714;
    color: white;
    border-radius: 50px;
    font-size: 90%;
    padding: 4.5rem;
    img {
      width: 30%;
    }
    h2 {
      margin-top: 2rem;
    }
    div {
      display: flex;
      gap: 2%;
      p {
        &:first-of-type {
          border-right: 1px dotted white;
        }
      }
    }
  }
  .about-video {
    width: 50%;
    height: 135%;
    iframe {
      width: 100%;
      height: 100%;
      border-radius: 50px;
    }
  }
}

@media screen and (max-width: 900px) {
  .About {
    display: flex;
    flex-direction: column;
    gap: 1%;
    margin: 40% 0 25% 0;
    .about-text {
      height: fit-content;
      width: 50%;
      text-align: center;
      div {
        display: flex;
        flex-direction: column;
        p {
          &:first-of-type {
            padding-bottom: 1rem;
            border-right: none;
            border-bottom: 1px dotted white;
          }
        }
      }
    }
    .about-video {
      width: 80%;
      iframe {
        height: 180%;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .About {
    display: flex;
    flex-direction: column;
    gap: 1%;
    margin: 70% 0 50% 0;
    .about-text {
      height: fit-content;
      width: 50%;
      text-align: center;
      div {
        display: flex;
        flex-direction: column;
        p {
          &:first-of-type {
            padding-bottom: 1rem;
            border-right: none;
            border-bottom: 1px dotted white;
          }
        }
      }
    }
    .about-video {
      width: 80%;
      iframe {
        height: 120%;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .About {
    display: flex;
    flex-direction: column;
    gap: 1%;
    margin: 110% 0 85% 0;
    .about-text {
      height: fit-content;
      width: 50%;
      text-align: center;
      div {
        display: flex;
        flex-direction: column;
        p {
          &:first-of-type {
            padding-bottom: 1rem;
            border-right: none;
            border-bottom: 1px dotted white;
          }
        }
      }
    }
    .about-video {
      width: 80%;
      iframe {
        height: 120%;
      }
    }
  }
}
