header {
  width: 100%;
  .intro {
    width: 100vw;
    video {
      position: relative;
      z-index: 1;
      width: 100%;
    }
    h1 {
      color: white;
      position: absolute;
      z-index: 3;
      top: 18rem;
      left: 35%;
      font-size: 4rem;
      font-weight: 500;
    }
  }
  .contact-menu {
    position: fixed;
    z-index: 3;
    top: 50%;
    right: 0;
    padding: 1rem 1rem;
    border-radius: 10px 0 0 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    a {
      svg {
        font-size: 1.8rem;
        fill: #fc983a;
        &:hover {
          fill: black;
        }
      }
    }
  }
}
