.Footer {
  position: relative;
  width: 100%;
  background-color: #ff5714;
  z-index: 2;
  margin-top: 5rem;
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px 10px white;
  div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    img {
      width: 10%;
    }
  }
  p {
    font-size: 13px;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .Footer {
    position: relative;
    width: 100%;
    background-color: #ff5714;
    z-index: 2;
    margin-top: 5rem;
    padding: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    div {
      display: flex;
      align-items: center;
      justify-content: space-around;
      img {
        width: 20%;
      }
    }
    p {
      font-size: 8px;
    }
  }
}
