.Sec1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  div {
    width: 30%;

    .dokumlerImg {
      width: 100%;
    }
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}
