nav {
  position: absolute;
  margin-bottom: 2rem;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
  width: 100%;
  .nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
      width: 20%;
    }
  }
  .hamburger {
    position: absolute;
    z-index: 20;
    margin-left: auto;
    right: 4%;
    margin-right: 1%;
    ._icon {
      font-size: 3rem;
      cursor: pointer;
      color: #ff5714;
    }
  }
  .side-menu {
    position: absolute;
    border-radius: 15px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    // background-image: url(../../../public/assets/bg4.jpg);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;

    .menu-list {
      z-index: 10;
      ul {
        list-style: none;
        color: #ff5714;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-align: center;
        z-index: 10;
        li {
          h1 {
            font-weight: 400;

            padding-bottom: 2rem;
          }
        }
      }
    }
    img {
      width: 15%;
      margin-bottom: 3rem;
      margin-top: 15rem;
    }
  }
}

@media screen and (max-width: 500px) {
  nav {
    position: absolute;
    margin-bottom: 2rem;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4%;
    .nav-left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      img {
        width: 10rem;
      }
    }
    .hamburger {
      position: absolute;
      z-index: 20;
      margin-left: auto;
      // right: 4%;
      margin-right: 5%;
      ._icon {
        font-size: 2rem;
        cursor: pointer;
        color: #ff5714;
      }
    }
  }
}
