nav {
  position: absolute;
  margin-bottom: 2rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  .nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
      width: 10%;
    }
  }
  .nav-right {
  }
}
